ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: left;
  
   
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    
    
  }
  
  li a:hover:not(.active) {
    background-color:rgb(236, 241, 226);
  }
  
  .active {
    background-color: rgb(226, 233, 214);
  }
  h3{font-size: large;font-family: Arial, Helvetica, sans-serif;font-style: italic;}